.credit-card{
    display:flex;
    justify-content: space-between;
    width: 48%;
    margin-top: 100px;
    margin-left: 100px;
}
.form{
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;

}

.number-input{
    height: 30px;
    width: 200px;
    font-size: 20px;
    padding-left: 5px;
    border-radius: 5px;
    border:solid ;
    background-color: white;
}


.name-input{
    height: 30px;
    width: 200px;
    font-size: 20px;
    padding-left: 5px;
    border-radius: 5px;
    border:solid ;
    background-color: white;
}

.mmyy-input{
    height: 30px;
    width: 70px;
    font-size: 20px;
    padding-left: 5px;
    border-radius: 5px;
    border:solid ;
    background-color: white;
}

.number-input:focus{
    border:solid red ;
}
.mmyy-input:focus{
    border:solid red ;
}
.name-input:focus{
    border:solid red ;
}